<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title></title>
    </head>
    <body>
        <header>
            <h2><a href="/home/registration">Зарегистрироваться</a></h2>
            <h2> <a href="/home/autorization">Войти</a></h2>
        </header>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
