
<form action="" method="post">
    Введите логин
    <input type="text" name="Login" />
    Введите пароль
    <input type="text" name="Password" />

    <input type="submit" value="Войти" />
</form>