@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    RCHAT
</h1>
<h3>
    Описание сайта для чата, на котором можно только зарегистрироваться и авторизоваться:

    Данный сайт представляет собой онлайн-чат, который позволяет зарегистрированным пользователям общаться между собой. Для использования сайта необходимо зарегистрироваться и авторизоваться на сайте.

    На главной странице сайта вы можете увидеть форму регистрации, в которой необходимо указать свое имя пользователя, адрес электронной почты и пароль. После регистрации вы будете перенаправлены на страницу авторизации, где вам необходимо будет ввести свой логин и пароль, чтобы получить доступ к чату.

    После авторизации вы сможете видеть список доступных комнат и выбрать ту, которая вам интересна. Вы также можете создать свою комнату и пригласить других пользователей присоединиться к ней.

    В чате вы можете отправлять текстовые сообщения, использовать эмодзи, форматировать текст, отправлять файлы и изображения. Кроме того, сайт обеспечивает безопасность и конфиденциальность ваших сообщений, не собирает никакой личной информации и не использует рекламу.

    Таким образом, этот чат может быть полезен для тех, кто ищет безопасный и удобный способ общения с другими людьми в интернете, где доступ к чату имеют только зарегистрированные пользователи.
</h3>
