@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="" method="post">
    Введите id
    <input type="text" name="Id" />
    Введите имя
    <input type="text" name="Name" />
    Введите логин
    <input type="text" name="Login" />
    Введите пароль
    <input type="text" name="Password" />

    <input type="submit" value="Отправить" />
</form>